body {
    background: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}

.ice-cream-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ice-cream-calc div {
    padding: 5px;
}